<!DOCTYPE html>

<html>
    <style>
    
        .btn {
            border-radius: 5px;
            background-color: slategray;
            color: black;
        }

        .bid {
            border-radius: 5px;
            background-color: green;
            color: black;
        }

        .boxed {
            border: 1px solid black ;
        } 
        </style>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <a type = button href="http://localhost:3000/" class="btn" 
       position: absolute; top: 10px;>Home</a>
    <a type = button href="http://localhost:3000/create" class="btn">Create Auction</a>
    <a type = button href="http://localhost:3000/auction" class="btn" 
       position: absolute; top: 10px; right: 10px;>Avalible Auctions</a>
    <a type = button href="http://localhost:3000/about" class="btn" 
       position: absolute; top: 10px; right: 10px;>About</a>

    <script>       
       var settings = {
        "async": true,
        "crossDomain": true,
        "url": "http://localhost:3000/products/listAuction",
        "method": "GET",
        "headers": {
            "Content-Type": "application/json",
            "cache-control": "no-cache",
            "Postman-Token": "16dd133e-0abb-4f4a-a066-d4f730b488ca"
        },
        success: displayAll
        }

    $.ajax(settings).done(function (response) {
        console.log(response);
    });

        function displayAll(data){
            if(data){
                var len =data.length;
                var txt ="";
                var txt2 ="";
                if(len > 0){
                    for(var i=0;i<len;i++){
                        txt += "<thead><tr><td>"+String(data[i].title)
                            +"</td><td>"+String(data[i].description)
                            +"</td><td>"+String(data[i].offer)
                            +"</td><td>"+String(data[i].category)
                            +"</td><td>"
                            + "<button type='button' class='btn btn-primary' data-toggle='modal' data-target='#myModal"+i+"'>BID</button>"
                            +"</td></tr></thead>";

                    }
                    for(var j=0;j<len;j++)
                    {
                                                
                        txt2 += "<div class='modal fade' id='myModal"+j+"' tabindex='-1' role='dialog' aria-labelledby='myModalLabel"+j+"' aria-hidden='true'>"
                            + "<div class='modal-dialog' role='document'>"
                            + "<div class='modal-content'>"
                            + "<div class='modal-header'>"
                            + "<h5 class='modal-title' id='myModalLabel'>"+data[j].title+"</h5>"
                            + "<button type='button' class='close' data-dismiss='modal' aria-label='Close'>"
                            + "<span aria-hidden='true'>&times;</span>"
                            + "</button>"
                            + "</div>"
                            + "<div class='modal-body'>"
                            + "<p><center>(Auctioneers account ID)</center></p>"
                            + "<p><center>"+ data[j].description +"</center></p>"
                            + "<p style = 'color:red'>Original Offer: $"+ data[j].offer +"</p>"
                            + "<p style = 'color:green'>Lowest Bid:_____</p>"
                            + "</div>"
                            + "<div class='modal-footer'>"
                            + "<button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>"
                            + "<button type='button' class='btn btn-primary'>Submit Bid</button>"
                            + "</div> </div></div></div>";
                    }
                    if(txt != ""){
                        $("#table").append(txt).removeClass("hidden");
                    }
                    if(txt2 != ""){
                        $("#modals").append(txt2);
                    }
                }
            }
        }
        
    </script>

<!-- Solve current problem: Make array of vars, when i create a entry 
    on the table save the id in the array and in each button declaration 
    so the button has access to their specific variable, once the modal is 
    created use the id to get the info -->
<!--modal in the loop -->

<script language="JavaScript">
    function clic(element)
    {
       alert("Clicked on " + element.value);
    }
</script>

</head>


<body>
    <div class="jumbotron text-center">
        <h1>Auction Page</h1>
        <p>It's time to get to work! Find a job you would like to bid on or create your own Auction!</p>
    </div>




    <div class="container">
            
        <div class="row">
            <div>
                <h3><center>Open Auctions</center></h3>
                <div style="margin: 0 auto; width: 100px;">
                    <p  class = "boxed" style = "color:grey">search</p>
                </div>
                <div>
                    <div id = "modals"></div>
                        <table data-toggle="table" class="display table table-bordered" id="table">
                                <thead>
                                  <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Offer</th>
                                    <th>Category</th>
                                  </tr>
                                </thead>
                              
                        </table>
                    </div>
            </div>
        </div>
    </div>
</body>

</html>