
<!DOCTYPE html>

<html>
    <style>
    
        .btn {
            border-radius: 5px;
            background-color: slategray;
            color: black;
        }
        </style>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <a type = button href="http://localhost:3000/" class="btn" 
       position: absolute; top: 10px;>Home</a>
    <a type = button href="http://localhost:3000/create" class="btn">Create Auction</a>
    <a type = button href="http://localhost:3000/auction" class="btn" 
       position: absolute; top: 10px; right: 10px;>Avalible Auctions</a>
    <a type = button href="http://localhost:3000/about" class="btn" 
       position: absolute; top: 10px; right: 10px;>About</a>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>About Bidster</h1>
        <!--<p>Resize this responsive page to see the effect!</p>-->
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>Our Idea</h3>
                <p>
                    How often have you needed an extra hand, help with things like moving or even getting food
                    when you’re too sick to make it or get it. Ever need help with building something or just need
                    an extra set of eyes to look things over. Typically you need to find people to do this stuff
                    through random Internet sites or ask an unwilling family member or friends. What if instead they
                    could come to you.
                </p>

            </div>
            <div class="col-sm-6">
                <h3>How This All Works</h3>
                <p>
                    Interactions on Bidster involve one Auctioneer and one or many Bidsters. The Auctioneer
                    has a task they want completed, so they set up an auction giving specific requirements for
                    the task/s. Bidsters bid on the task and the auctioneer selects what Bidster the want to hire.
                </p>
                <p>
                    Bidster does not condone unlawful behavior on our website. Violators will be banned from the
                    website indefinitely.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
<!--<a href="HomeButton.css" class="myButton"> Bidster </a>-->