
<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <a type = button href="http://localhost:3000/" class="btn" 
       position: absolute; top: 10px;>Home</a>
    <a type = button href="http://localhost:3000/create" class="btn">Create Auction</a>
    <a type = button href="http://localhost:3000/auction" class="btn" 
       position: absolute; top: 10px; right: 10px;>Avalible Auctions</a>
       <a type = button href="http://localhost:3000/about" class="btn" 
       position: absolute; top: 10px; right: 10px;>About</a>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Create Your Auction</h1>
    </div>

    <p>
        <label>Your Username</label>
        <input type = "text"
               id = "Username" />
      </p>
    <p>
        <label>Job Title</label>
        <input type = "text"
               id = "Title"/>
      </p>

      <p>
        <label>Description of Job</label>
        <input type = "text"
               id = "description"/>
      </p>
      <p>
        <label>Starting Offer  $</label>
        <input type = "number"
               min = "0.00"
               id = "StartingOffer"/>
      </p>

</body>
</html>
<!--<a href="HomeButton.css" class="myButton"> Bidster </a>-->