<!DOCTYPE html>

<html>
    <!--task bar buttons-->
    <style>
    
        .btn {
            border-radius: 5px;
            background-color: slategray;
            color: black;
        }

        .bid {
            border-radius: 5px;
            background-color: green;
            color: black;
        }

        .boxed {
            border: 1px solid black ;
        } 
        </style>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <a type = button href="http://localhost:3000/" class="btn" 
       position: absolute; top: 10px;>Home</a>
    <a type = button href="http://localhost:3000/create" class="btn">Create Auction</a>
    <a type = button href="http://localhost:3000/auction" class="btn" 
       position: absolute; top: 10px; right: 10px;>Avalible Auctions</a>
    <a type = button href="http://localhost:3000/about" class="btn" 
       position: absolute; top: 10px; right: 10px;>About</a>

    <script>  
        var idList = [];   
       var settings = {
        "async": true,
        "crossDomain": true,
        "url": "http://localhost:3000/products/listAuction",
        "method": "GET",
        "headers": {
            "Content-Type": "application/json",
            "cache-control": "no-cache",
            "Postman-Token": "16dd133e-0abb-4f4a-a066-d4f730b488ca"
        },
        success: displayAll
        }

    $.ajax(settings).done(function (response) {
        console.log(response);
    });

        function displayAll(data){
            if(data){
                var len =data.length;                
                var txt ="";
                var txt2 ="";
                if(len > 0){
                    //dynamically create table entries
                    for(var i=0;i<len;i++){
                        txt += "<thead><tr><td>"+String(data[i].title)
                            +"</td><td>"+String(data[i].description)
                            +"</td><td>"+String(data[i].offer)
                            +"</td><td>"+String(data[i].category)
                            +"</td><td>"
                            + "<button type='button' class='btn btn-primary' data-toggle='modal' data-target='#myModal"+i+"'>BID</button>"
                            +"</td></tr></thead>";

                    }
                    //dynamically create Bid buttons with unique modals for each auction
                    for(var j=0;j<len;j++)
                    {
                        
                        idList[j] = data[j]._id;                        
                        txt2 += "<div class='modal fade' id='myModal"+j+"' tabindex='-1' role='dialog' aria-labelledby='myModalLabel"+j+"' aria-hidden='true'>"
                            + "<div class='modal-dialog' role='document'>"
                            + "<div class='modal-content'>"
                            + "<div class='modal-header'>"
                            + "<h5 class='modal-title' id='myModalLabel'>"+data[j].title+"</h5>"
                            + "<button type='button' class='close' data-dismiss='modal' aria-label='Close'>"
                            + "<span aria-hidden='true'>&times;</span>"
                            + "</button>"
                            + "</div>"                           
                            + "<div class='modal-body'>"
                            + "<p><center>"+ data[j].description +"</center></p>"
                            + "<p style = 'color:red'>Current Offer: $"+ data[j].offer +"</p>"
                            + "<label>Your Bid:</label><input type = 'text'id = 'Bid"+j+"' />"
                            + "</div>"
                            + "<div class='modal-footer'>"
                            + "<button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>"
                            //+ "<button type='button' class='btn btn-primary' id2 = " + data[j].id + " onclick='submitBid()' href='javascript:;'>Submit Bid</button>"
                            + "<button type='button' class='btn btn-primary' onclick='submitBid("+j+")' href='javascript:;'>Submit Bid</button>"
                            + "</div> </div></div></div>";
                    }
                    if(txt != ""){
                        $("#table").append(txt).removeClass("hidden");
                    }
                    if(txt2 != ""){
                        $("#modals").append(txt2);
                    }
                }
            }
        }

        function myFunction() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("table");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[3];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }       
            }
        }
        
        //basically and "update" function for the offer field. users may change the current offer when they bid
        function submitBid(id){
        var x = 'Bid'+String(id);
        var PBid = document.getElementById(x);
        var jsonForm =JSON.stringify({"Bid" : Number(PBid.value), "id" : idList[id]});
        var settings2 = {
            "async": true,
            "crossDomain": true,
            "url": "http://localhost:3000/products/"+ idList[id] +"/update/" + PBid.value,
            "method": "PUT",
            "headers": {
                 "Content-Type": "application/x-www-form-urlencoded",
                 "cache-control": "no-cache",
                 "Postman-Token": "14dc1e40-67a9-4168-abb7-85d3a503e11a"
            },
            "data": {}
        }

        $.ajax(settings2).done(function (response) {
            console.log(response);
        });

        }
        
</script>



<script language="JavaScript">
    function clic(element)
    {
       alert("Clicked on " + element.value);
    }
</script>

</head>


<body>
    <div class="jumbotron text-center" style="background-color:powderblue;">
        <h1>Auction Page</h1>
        <p>It's time to get to work! Find a job you would like to bid on or create your own Auction!</p>
    </div>




    <div class="container">
            
        <div class="row">
            <div>
                <h3><center>Open Auctions</center></h3>
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
                <div>
                    <div id = "modals"></div>
                        <table data-toggle="table" class="display table table-bordered" id="table">
                                <thead>
                                  <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Offer</th>
                                    <th>Category</th>
                                  </tr>
                                </thead>
                              
                        </table>
                    </div>
            </div>
        </div>
    </div>
</body>

</html>