<!DOCTYPE html>

<html>
<!--Bidster Home Page-->
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="jumbotron text-center">
    <h1>Bidster</h1>
    <p>(slogan)</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>About Page</h3>
            <p>(about page description, like "hey, come see how this all works")</p>
            <p> <a href="file:///C:/Users/Josh/Documents/GitHub/BidsterOkeefeKostak/views/BidsterAboutPage.html">Click Here</a></p>
        </div>
        <div class="col-sm-4">
            <h3>Auction Page</h3>
            <p>Bid on a job or create your own Auction</p>
            <p><a href="file:///C:/Users/Josh/Documents/GitHub/BidsterOkeefeKostak/views/BidsterAuctionPage.html">Click Here</a></p>
        </div>
        <div class="col-sm-4">
            <h3>Column 3</h3>
            <p>Lorem ipsum dolor..</p>
            <p>Ut enim ad..</p>
        </div>
    </div>
</div>
</html>