<!DOCTYPE html>

<html>
<style>
    
.btn {
    border-radius: 5px;
    background-color: slategray;
    color: black;
}

/* these are buttons off of the tool bar */
.offbar {
    border-radius: 5px;
    background-color: whitesmoke;
    color: black;
}
</style>


<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <a type = button href="http://localhost:3000/" class="btn" 
       position: absolute; top: 10px;>Home</a>
    <a type = button href="http://localhost:3000/create" class="btn">Create Auction</a>
    <a type = button href="http://localhost:3000/auction" class="btn" 
       position: absolute; top: 10px; right: 10px;>Avalible Auctions</a>
    <a type = button href="http://localhost:3000/about" class="btn" 
       position: absolute; top: 10px; right: 10px;>About</a>
</head>


<div class="jumbotron text-center" style="background-color:powderblue;">
    <h1>Bidster</h1>
    <p>We make finding odd jobs simple and easy!</p>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>About Page</h3>
            <p>How often have you needed an extra hand? Needed help with things like moving or even getting food
                    when you’re too sick to make it or get it? Ever need help with building something or just need
                    an extra set of eyes to look things over? Typically you need to find people to do this stuff
                    through random Internet sites or ask an unwilling family member or friends. What if instead they
                    could come to you? </p>
            <p><a type = button href="http://localhost:3000/about" class="btn offbar">About</a></p>
        </div>
        <div class="col-sm-4">
            <h3>Auction Page</h3>
            <p>See currently avalible auctions</p>
            <p><a type = button href="http://localhost:3000/auction" class="btn offbar">Auctions</a></p>
        </div>
        <div class="col-sm-4">
            <h3>Create your own auction</h3>
            <p>Need work done? Create an auction and let the Bidsters come stright to you!</p>
            <p><a type = button href="http://localhost:3000/create" class="btn offbar">Create Auction</a></p>
        </div>
    </div>
</div>
</html>